NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://admin:secret-password-123@localhost:27017/ingesting?authSource=admin
MONGODB_DB_NAME=ingesting
RABBITMQ_URL=amqp://localhost
CORS_ORIGIN=http://localhost:3000
