NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://admin:secret-password-123@mongodb:27017/ingesting?authSource=admin
MONGODB_DB_NAME=ingesting

RABBITMQ_URL=amqp://rabbitmq:5672

CORS_ORIGIN=http://localhost:3000

# OpenWeatherMap
OWM_API_KEY=your_openweathermap_api_key_here
OWM_CRON=*/5 * * * *
OWM_BASE_URL=https://api.openweathermap.org/data/2.5

# Alerting service (docker internal)
ALERTING_BASE_URL=http://alerting:3000
