NODE_ENV=development
PORT=3000

# MongoDB connection
MONGODB_URI=mongodb://admin:secret-password-123@localhost:27017/ingesting?authSource=admin
MONGODB_DB_NAME=ingesting

# RabbitMQ connection string
RABBITMQ_URL=amqp://localhost

CORS_ORIGIN=http://localhost:3000

# OpenWeatherMap
OWM_API_KEY=your_openweathermap_api_key_here
OWM_CRON=*/5 * * * *
OWM_BASE_URL=https://api.openweathermap.org/data/2.5
OWM_TIMEOUT_MS=5000

