NODE_ENV=development
PORT=3000

# MongoDB Atlas connection uri
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/station_management?retryWrites=true&w=majority
MONGODB_DB_NAME=station_management

RABBITMQ_URL=amqp://localhost:5672

CORS_ORIGIN=http://localhost:3000

# OpenTelemetry
OTEL_SERVICE_NAME=station_management
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318