NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://admin:secret-password-123@mongodb:27017/station_management?authSource=admin
MONGODB_DB_NAME=station_management

RABBITMQ_URL=amqp://rabbitmq:5672

CORS_ORIGIN=http://localhost:3000

# OpenTelemetry
OTEL_SERVICE_NAME=station_management
OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4318
